{% extends 'core/main.html' %}

{%  load search_extras %}

 {% block title %}SEARCH{% endblock %}

{% block content %}
    <div class="green-back content">
        <div class="speech-bubble {% if query %}speech-bubble-text{% else %}speech-bubble-header bold-font{% endif %} white-back black-front">
           {% if query %}{{ query|upper }}{% else %}WHAT ARE YOU LOOKING FOR?{% endif %}
        </div>
    </div>

    {% if query %}
        <div class="white-back">
            {% if module_list %}
                {% include "content/module_data_list.html" %}
            {% else %}
                <p>No results found.</p>
            {% endif %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a class="half-button left" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo; Previous</a>
                    {% else %}
                        <p class="half-button left" >&laquo; Previous</p>
                    {% endif %}

                    {% if page.has_next %}
                        <a class="half-button right" href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next &raquo;</a>
                    {% else %}
                        <p class="half-button right">Next &raquo;</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div id="search-container" class="search-container white-back">
        <div>
            <form action="/search/" method="get">
                {% csrf_token %}
                <div class="search-box bottom-border green-border margin-bot-10">
                    <input type="text" name="q" id="id_search" placeholder="I AM LOOKING FOR..." class="search-text black-front white-back no-border"/>
                    <div class="search-go">
                        <input type="image"  src="/static/img/icn_search_black_small.png" value="GO" class="white-back no-border"/>
                    </div>
                </div>
                <input class="green-border button white-back green-front wide" type="submit" value="SUBMIT">
            </form>
        </div>
    </div>
{% endblock %}