{% extends 'core/main.html' %}

{%  load search_extras %}

{% block content %}
    <form method="get" action="">
        {% if query %}
            <div class="green-back">
                <br>
                <div class="speech-bubble">
                    <h1 class="center-font" >{{ query }}</h1>
                    <hr>
                </div>
                <br>
            </div>
            <div class="content">
                {% for result in page.object_list %}
                    <a href="/module_home/{{ module.slug }}">
                        <div class="module-display bottom-border">
                            <div>
                                {% if result.image %}
                                    <img class="image" align="top" src="/static/{{ result.image.url }}"/>
                                {% else %}
                                    <img class="image" align="top" src="/static/img/home.png"/>
                                {% endif %}
                            </div>
                            <div class="wide">
                                {{ result.name }}
                                <p>Progress</p>
                            </div>
                            <div class="float-right">
                                <p>
                                    >
                                </p>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}

                {% if page.has_previous or page.has_next %}
                    <div>
                        {% if page.has_previous %}
                            <a class="half-button left" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo; Previous</a>
                        {% else %}
                            <p class="half-button left" >&laquo; Previous</p>
                        {% endif %}

                        {% if page.has_next %}
                            <a class="half-button right" href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next &raquo;</a>
                        {% else %}
                            <p class="half-button right">Next &raquo;</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="green-back">
                <br>
                <div class="speech-bubble">
                    <h1 class="center-font" >What are you looking for?</h1>
                    <hr>
                </div>
                <br>
            </div>
        {% endif %}
        <div class="content">
            <table class="wide">
                <tr>
                    <td class="wide-input">
                        <input type="text" name="q" id="id_search" value="I AM LOOKING FOR..."/>
                    </td>
                </tr>
                <tr><td></td><tr/>
                <tr>
                    <td>
                        <input class="wide button transparent-back" type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}