django==1.8
psycopg2
Pillow
coverage
git+https://github.com/django-haystack/django-haystack
elasticsearch
urllib3
requests
django_bleach
beautifulsoup4
django-google-analytics-app==2.0.3
django-colorful
django-grappelli
#-e git+ssh://git@github.com/HarambeeYouth/HarambeeYouth.git@develop#egg=HarambeeYouth