django==1.8
psycopg2
Pillow
coverage
git+https://github.com/django-haystack/django-haystack
elasticsearch
urllib3
requests
django_bleach
beautifulsoup4
django-google-analytics-app==2.0.3
django-colorful
mock
raven==5.0.0
git+ssh://git@github.com/HarambeeYouth/HarambeeYouth.git
django-celery
django-grappelli==2.7.3
