{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <div class="content">
        <h1 class="center-font">{{ page.heading }}</h1>
        <hr>

        <form action="" method="post">
            {% csrf_token %}

            <div class="fieldWrapper">
                {% if form.mobile.errors %}
                    {{ form.mobile.errors }}
                {% endif %}
                <p class="bold-font">{{ form.mobile.label_tag }}</p>
                <p class="wide-input">{{ form.mobile }}</p>
            </div>

            <p class="center-font margin-bot-10">{{ page.content }}</p>
            <input class="button wide light-grey-back margin-bot-10" type="submit" value="Change number" />
        </form>

        <a class="button" href="/home">CANCEL</a>

    </div>

{% endblock %}