{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}


{% block header_colour %} green-back {% endblock %}

{% block content %}
    <div class="green-back content">
        <div class="speech-bubble header-font bold-font white-back black-front">
            {{ page.heading  | upper }}
        </div>
    </div>

    <div class="content">
        <p>{{ page.content }}</p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {% if form.username.errors %}
                    {{ form.username.errors }}
                {% endif %}
                <p class="bold-font">{{ form.username.label_tag }}</p>
                <p class="wide-input">{{ form.username }}</p>
            </div>
            <input class="wide button transparent-back" type="submit" value="SEND" />
        </form>
        <a class="button margin-top-15" href="/login">CANCEL</a>
    </div>

{% endblock %}