{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <div class="green-back">
        <br>
        <div class="speech-bubble"
            <h1 class="center-font" >{{ page.heading }}</h1>
            <hr>
        </div>
        <br>
    </div>

    <div class="content">
        <p class="center-font">{{ page.content }}</p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                <p>{{ form.username.errors }}</p>
                <p>{{ form.username.label_tag }}</p>
                <p class="wide-input">{{ form.username }}</p>
            </div>
            <input class="wide button transparent-back" type="submit" value="SEND" />
        </form>
        <br>
        <a class="button" href="/login">< CANCEL</a>
        <br>
    </div>

{% endblock %}