{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header_colour %} green-back {% endblock %}

{% block content %}
    <div class="green-back content">
        <div class="speech-bubble header-font bold-font white-back black-front">
            {{ page.heading  |upper }}
        </div>
    </div>

    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {% if form.password.errors %}
                    {{ form.username.errors }}
                {% endif %}
                <p class="line bold-font">
                    {{ form.username.label_tag }} <a class="float-right darkgrey-front no-weight" href="/why_id">Why do you need my ID?</a>
                </p>
                <p class="line wide-input">
                    {{ form.username }}
                </p>
            </div>
            <div class="fieldWrapper">
                {% if form.password.errors %}
                    {{ form.password.errors }}
                {% endif %}
                <p class="bold-font">
                    {{ form.password.label_tag }} <span class="float-right darkgrey-front no-weight">A numeric PIN e.g. 1234</span>
                </p>
                <p class="wide-input">
                    {{ form.password }}
                </p>
            </div>
            <input class="button transparent-back wide" type="submit" value="JOIN" />
        </form>
    </div>

{% endblock %}"