{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    {% load harambee_extras %}
    <div class="green-back content">
        <div class="speech-bubble header-font bold-font white-back black-front">
           <p>{{ page.heading |upper }}</p>
        </div>
    </div>

    <div class="content white-back">
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                <p>{{ form.username.errors }}</p>
                <p><span class="bold-font">{{ form.username.label_tag }}</span></p>
                <p class="wide-input boxed">{{ form.username|tabindex:1 }}</p>
            </div>
            <div class="fieldWrapper">
                <p>{{ form.password.errors }}</p>
                <p>
                    <span class="bold-font">{{ form.password.label_tag }}</span>
                    <a class="float-right dark-grey-front"href="/forgot_pin" tabindex="3">Forgotten?</a></p>
                <p class="wide-input boxed">{{ form.password|tabindex:2 }}</p>

            </div>
            <input class="button wide bold-font green-back white-border" type="submit" value="LOGIN" tabindex="4"/>
        </form>
        <br>
    </div>

{% endblock %}