{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    {% load harambee_extras %}
    <div class="green-back content">
        <div class="speech-bubble header-font bold-font white-back black-front">
           <p>{{ page.heading |upper }}</p>
        </div>
    </div>

    <div class="content">
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                <p>{{ form.username.errors }}</p>
                <p>{{ form.username.label_tag }}</p>
                <p class="wide-input">{{ form.username|tabindex:1 }}</p>
            </div>
            <div class="fieldWrapper">
                <p>{{ form.password.errors }}</p>
                <p>{{ form.password.label_tag }} <a class="float-right dark-grey-front"href="/forgot_pin" tabindex="3">Forgotten?</a></p>
                <p class="wide-input">{{ form.password|tabindex:2 }}</p>

            </div>
            <input class="button wide transparent-back" type="submit" value="LOGIN" tabindex="4"/>
        </form>
        <br>
    </div>

{% endblock %}