{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header_colour %}green-back{% endblock %}

{% block content %}

    <div class="green-back content">
        <div class="speech-bubble header-font bold-font white-back black-front">
           {{ page.heading |upper }}
        </div>
    </div>

    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                <p>{{ form.username.errors }}</p>
                <p>{{ form.username.label_tag }}</p>
                <p class="wide-input">{{ form.username }}</p>
            </div>
            <div class="fieldWrapper">
                <p>{{ form.password.errors }}</p>
                <p>{{ form.password.label_tag }} <a class="float-right dark-grey-front"href="/forgot_pin">Forgotten?</a></p>
                <p class="wide-input">{{ form.password }}</p>

            </div>
            <input class="button wide transparent-back" type="submit" value="LOGIN" />
        </form>
        <br>
    </div>

{% endblock %}