{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <div class="content">
        <a href="/home">< Back to Home</a>
        {% if journey and journey.name %}
            <h1 class="center-font" >Completed</h1>
        {% endif %}
        <hr>

        {% for module in modules %}
            <div>
                {% if module.image %}
                    <li class="badge" style="background-image: url('{{ module.image.url }}')"></li>
                {% else %}
                    <li class="badge" style="background-image: url('')"></li>
                {% endif %}
                <div class="text center-font"><p>{{ module.name }}</p></div>
                <div class="text center-font"><p>{{ module.progress }}</p></div>
            </div>
        {% endfor %}
        <a href="/completed_modules/{% page_count + 1 %}">View more</a>
        <a href="/home">< Back to Home</a>
    </div>

{% endblock %}