{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}{{ page.heading | upper}}{% endblock %}

{% block content %}

    {% if page.content %}
        <div class="black-back content">
            <div class="speech-bubble speech-bubble-text white-back black-front">
                {{ page.content  }}
            </div>
        </div>
    {% endif %}

    {% if object_list %}
        {% with object_list as module_list %}
            {% include "content/module_data_list.html" %}
        {% endwith %}
    {% endif %}

    <div class="content">
        <a class="button" href="/home">BACK</a>
    </div>

{% endblock %}