{% extends "core/main.html" %}

{% block title %}HOME{% endblock %}

{% block header %}{{ header_message | upper }}{% endblock %}

{% block content %}

    {% if page.content %}
        <div class="black-back content">
            <div class="speech-bubble white-back black-front">
               <p>{{ page.content  }}</p>
            </div>
        </div>
    {% endif %}

    {% if journeys %}
        <div class="solo line">
            <div>
                <div>
                    <h2 class="line-heading">JOURNEYS</h2>
                </div>
            </div>
        </div>
        <div class="block-container">
            {% for journey in journeys %}
            <div class="block">
                <a class="line" href="/journey_home/{{ journey.slug }}">
                    <div>
                        <div>
                            <div class="image">
                                {% if journey.image %}<img src="{{ journey.image.url }}"/>{% endif %}
                            </div>
                            <p>
                                <span class="bold-font x-large-font" {% if journey.colour %}style="color: {{ journey.colour }};"{% endif %}>{{ journey.name |upper }}</span><br>
                                <span {% if journey.colour %} style="color:{{ journey.colour}}"{% endif %}>{{ journey.num_completed_modules }} </span>of {{ journey.num_modules}} Modules Completed
                            </p>
                            <span class="right-link arrow light-grey-front">></span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block search %}
    {% include "core/main_search.html" %}
{% endblock %}