{% extends "core/main.html" %}

{% block title %}{{ object.name | upper }}{% endblock %}

{% block header %}{{ object.name | upper }}{% endblock %}

{% block content %}

    {% if object.intro_text %}
        <div class="black-back content">
            <div class="speech-bubble speech-bubble-text white-back black-front">
                {{ object.intro_text  }}
            </div>
        </div>
    {% endif %}

    {% if recommended_modules %}
        <div>
            {% for object in recommended_modules %}
                <div class="item">
                    <div class="large-module-block bottom-border light-grey-border">
                        <span class="x-large-font bold-font content-width">
                            {{ object.module.name }}
                        </span>
                        {% if object.module.image %}<img src="{{ object.module.image.url }}" alt="Image">{% endif %}
                    </div>
                    <div class="content">
                        <p class="margin-bot-10">
                            {{ object.module.intro_text }}
                        </p>
                        <a href="/module_home/{{ object.journey.slug }}/{{ object.module.slug }}" class="button">ADD MODULE</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if module_list  %}
        <div class="list-heading bold-font bottom-border top-border black-border">MORE MODULES</div>
        <div class="item-line-container">
            {% include "content/module_data_list.html" %}
        </div>
    {% endif %}

    <div class="content" style="background-color: {{ journey.colour }}">
        <a class="button" href="/home">Back</a>
     </div>

{% endblock %}