{% extends "core/main.html" %}

{% block title %}{{ object.name | upper }}{% endblock %}

{% block header %}{{ object.name | upper }}{% endblock %}

{% block content %}

    <div class="bottom-border black-border">
        <div class="item">
            <div class="large-module-block bottom-border light-grey-border">
                <span class="x-large-font bold-font content-width">
                    {{ object.name }}
                </span>
                <div>
                    {% if object.image %}<img src="{{ object.image.url }}" alt="Image">{% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if module_list  %}
        <div class="solo line">
            <div>
                <div>
                    <h2 class="line-heading">ACTIVE MODULES</h2>
                </div>
            </div>
        </div>
        <div>
            {% include "content/module_data_list.html" %}
        </div>
    {% endif %}

    {% if new_modules %}
        {% for item in new_modules %}
            <div class="block">
                <a class="line" href="/module_home/{{ item.module.journey_slug }}/{{ item.module.module_slug }}">
                    <div>
                        <div>
                            <div class="image">
                                {% if item.module.image %}<img src="{{ item.module.image.url }}" alt="">{% endif %}
                            </div>
                            <p>
                                <span class="bold-font" style="color:{{ item.journey.colour }}">{{ item.module.name | upper }}</span><br>
                                <span {% if item.journey.colour %} style="color:{{ item.journey.colour}}"{% endif %}>0 </span>of {{ item.module.total_levels }} Levels Completed
                            </p>
                            <span><b style="padding: 5px; margin-right: 10px; background-color:{{ item.journey.colour }}; color: white;">NEW</b></span>
                            <span class="right-link arrow">></span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}

    <div class="content" style="background-color: {{ journey.colour }}">
        <a class="button white-back bold-font" href="/home">BACK</a>
     </div>

{% endblock %}