{% extends "core/main.html" %}

{% block title %}{{ object.name | upper}}{% endblock %}

{% block content %}

    <div class="bottom-border wide">
        <div class="content inline">
            <p class="float-left margin-left inline">{{ journey_module_rel.module.name }}</p>
            <p class="float-right margin-right left-border inline">{{ object.name }}</p>
        </div>
    </div>

    <div class="speech-bubble" style="background-color: {{ journey_module_rel.journey.colour }}; border-color: transparent {{ journey_module_rel.journey.colour }}">
        <p class="center-font">Let's get started</p>
        <hr>
    </div>

    <div class="content">
        <p class="center-font">{{ object.text }}</p>

        <a class="button" href="/question">Begin Level</a>
    </div>

    <div class="coloured-back" style="background-color: {{ object.module.journeys.first.colour }}">
        <div class="content">
            <br>
            <a class="button" href="/module_home/{{ journey_module_rel.journey.slug }}/{{ journey_module_rel.module.slug }}">< Back to Home</a>
            <br>
        </div>
    </div>

{% endblock %}