{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}{{ header_message | upper }}{% endblock %}

{% block content %}

    {% include 'content/module-level-heading.html' %}

    <div class="light-grey-back content">
		<div class="speech-bubble white-back black-front">
			<p class="header-font bold-font">{{ message  | upper }}</p>
            {% if level_passed %}
            <p>
                <span class="green-front bold-font">Congratulations</span> you have passed this level
                successfully{% if next_level%} and can move on to the next level{% endif %}!
            </p>
            {% else %}
            <p>
                You have completed the level but haven't reached the required
                pass rate of {{ min_percent }}%. Please re-do the level to improve your result.
            </p>
            {% endif %}
		</div>
	</div>

    <div class="content-width margin-bot-10">
        <div>
            <div class="percent-line">
                <img src='/static/img/green_smiley_face_small.png'><p>{{ correct }}%</p>
            </div>
        </div>
        <div>
            <div class="percent-line">
                <img src='/static/img/orange_sad_face_small.png'><p>{{ incorrect }}%</p>
            </div>
        </div>
    </div>

    <div class="content green-back">
        {% if level_passed %}
            {% if next_level %}
        <div class="two-buttons">
            <div>
                <a class="button" href="/level_intro/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}/{{ next_level }}">NEXT LEVEL</a>
            </div>
            <div></div>
            {% else %}
        <div>
            {% endif %}
            <div>
                <a class="button white-back" href="/module_home/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}">DONE</a>
            </div>
        {% else %}
        <div class="two-buttons">
            <div>
                <a class="button" href="/module_home/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}">SEE LEVELS</a>
            </div>
            <div></div>
            <div>
                <a class="button white-back" href="/level_intro/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}/{{ object.level.id }}">RE-DO LEVEL</a>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}