{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}{{ header_message | upper }}{% endblock %}

{% block content %}

    {% include 'content/module-level-heading.html' %}
{##}
{#	<div class="light-grey-back content">#}
{#		<div class="speech-bubble green-bubble-border green-back black-front bold-font">#}
{#			<p>{{ message  | upper }}</p>#}
{#		</div>#}
{#	</div>#}

    <div class="light-grey-back content">
		<div class="speech-bubble white-back black-front">
			<p class="header-font bold-font">{{ message  | upper }}</p>
            {% if level_passed %}
            <p>
                <span class="green-front">Congratulations</span> you have passed this level
                successfully and can move on to the next
                level!
            </p>
            {% else %}
            <p>
                You have completed the level but havent reached the required
                pass rate of {{ min_percent }}%. Please re-do the level to improve your result.
            </p>
            {% endif %}
		</div>
	</div>

    <div class="content-width">
        <div>
            <div class="percent-line">
                <img src='/static/img/green_smiley_face_small.png'><p>{{ correct }}%</p>
            </div>
        </div>
        <div>
            <div class="percent-line">
                <img src='/static/img/orange_sad_face_small.png'><p>{{ incorrect }}%</p>
            </div>
        </div>
    </div>

    <div class="content">
        {% if last_level %}
            <a class="button" href="/module_end/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}">Done</a>
        {% else %}
            <a class="button" href="/module_home/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}">Done</a>
        {% endif %}
    </div>

{% endblock %}