{% extends "core/main.html" %}

{% block title %}{{ journey_module_rel.journey.name | upper}}{% endblock %}

{% block header %}{{ journey_module_rel.journey.name | upper}}{% endblock %}

{% block content %}

    <div class="question-heading wide bottom-border-2 light-grey-back">
        <div>
            <div class="module">
                <div>
                    {% if journey_module_rel.module.image %}
                        <img src="{{ journey_module_rel.module.image.url }}">
                    {% endif %}
                    <p class="margin-left inline bold-font">
                        {{ journey_module_rel.module.name | upper }}
                    </p>
                </div>
            </div>
            <div class="level">
                <p class="margin-right inline bold-font">{{ object.name | upper }}</p>
            </div>
        </div>
    </div>

    <div class="content">
        <p class="margin-bot-10">{{ object.text }}</p>

        <a class="button" href="/question">BEGIN LEVEL</a>
    </div>

    <div class="content" style="background-color: {{ object.module.journeys.first.colour }}">
        <a class="button" href="/module_home/{{ journey_module_rel.journey.slug }}/{{ journey_module_rel.module.slug }}">BACK</a>
    </div>

{% endblock %}