{% extends "core/main.html" %}

{% block title %}{{ object.name | upper}}{% endblock %}

{% block content %}

    <div class="content">
        <a href="/module_home/{{ object.module.slug }}">< Back to Home</a>

        <h1 class="center-font" >{{ object.name }}</h1>
        <hr>

        <p class="center-font">{{ object.text }}</p>

        <form action="" method="post" name="start_level">
            {% csrf_token  %}
            <input type="hidden" value="{{ object.id }}" name="level_id">
            <input type="submit" value="Get Started">
        </form>

        <a href="/module_home/{{ object.module.slug }}">< Back to Home</a>
    </div>

{% endblock %}