{% extends "core/main.html" %}

{% block title %}{{ object.module.name | upper }}{% endblock %}

{% block header %}{{ object.module.name }}{% endblock %}

{% block content %}

    <div class="item">
        <div class="large-module-block bottom-border black-border">
            <span class="x-large-font bold-font content-width">
                {{ object.module.name | upper}}
            </span>
            <div>
                {% if object.module.image %}<img src="{{ object.module.image.url }}" alt="Image">{% endif %}
            </div>
        </div>
        <div class="content">
            <p class="large-font bold-font">
                {{ object.module.total_levels }} LEVEL{{ object.module.total_levels|pluralize:'S' }}
            </p>
        </div>
    </div>

    <div class="content">
        <p class="margin-bot-10"> {{ object.module.intro_text }} </p>
        <a href="/module_home/{{ object.journey.slug }}/{{ object.module.slug }}" class="button">START</a>
    </div>

    <div class="content" style="background-color: {{ object.journey.colour }}">
        <a class="button" href="/home">BACK</a>
    </div>

{% endblock %}