{% for module in module_list %}
    <a href="/module_home/{{ journey.slug }}/{{ module.module_slug }}">
        <div class="module-line">
            <div class="module-line-image">
                <img src="" alt="image">
            </div>
            <div class="module-line-data">
                <p class="module-line-data-name">
                    {{ module.module_name }}
                </p>
                <p class="module-line-data-levels">
                    <span {% if module.journey_colour %} style="color:{{ module.journey_colour }}"{% endif %}>{{ module.levels_completed }} </span>of {{ module.total_levels }} Completed
                </p>
            </div>
            <div class="module-line-arrow">
                >
            </div>
        </div>
    </a>
{% endfor %}