{% extends "core/main.html" %}

{% block title %}{{ object.name | upper }}{% endblock %}

{% block content %}

    <div class="content">
        <a href="/home">< Back to Home</a>
        {% if object and object.name %}
            <h1 class="center-font" >{{ object.name }}</h1>
        {% endif %}
        <hr>

        <p class="center-font">{{ object.intro_text }}</p>
        <a href="/module_home/{{ object.slug }}">Get Started</a>

        <a href="/home">< Back to Home</a>
    </div>

{% endblock %}