{% extends "core/main.html" %}

{% block title %}{{ journey_module_rel.journey.name | upper }}{% endblock %}

{% block header %}{{ journey_module_rel.journey.name | upper}}{% endblock %}

{% block content %}

    <div class="wide">
         <div class="module-heading bottom-border black-border">
            <div class="wide">
                <div>
                    <h1 class="line-heading">{{ journey_module_rel.module.name | upper}}</h1>
                </div>
                {% if journey_module_rel.module.image %}
                    <div class="image left-border light-grey-border">
                        <img src="{{ journey_module_rel.module.image.url }}" alt="">
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="solo line module-intro-text">
            <p>{{ journey_module_rel.module.intro_text }}</p>
        </div>

        <div class="solo line">
            <div>
                <div>
                    <h2 class="line-heading">{{ journey_module_rel.module.total_levels }} LEVEL{{ journey_module_rel.module.total_levels|pluralize:'S' }}</h2>
                </div>
            </div>
        </div>
    </div>

    {% for active in active_levels %}
	    <div {% if active.percent_correct == 100 and active.completed == True %} style="height: 51px;" {% endif %}>
            <div class="bottom-border light-grey-border small">
                {% if active.completed %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="journey" value="{{ journey_module_rel.journey.slug }}">
                        <input type="hidden" name="module" value="{{ journey_module_rel.module.slug }}">
                        <input type="hidden" name="level_id" value="{{ active.id }}">
                        <div class="line">
                            <div>
                                <div>
                                    <h3 class="line-heading">{{ active.name |upper }}</h3>
                                    <div>
                                        {% if active.percent_correct != 100 %}
                                            <button type="submit" class="right-link-button border black-border hand-pointer yellow-back white-front bold-font">REDO</button>
                                        {% else %}
                                            <button type="submit" class="img-button hand-pointer"><img class="small-image" style="margin-top:1px;" src='/static/img/tick.png'></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="journey" value="{{ journey_module_rel.journey.slug }}">
                        <input type="hidden" name="module" value="{{ journey_module_rel.module.slug }}">
                        <input type="hidden" name="level_id" value="{{ active.id }}">
                        <div class="line">
                            <div>
                                <div>
                                    {% if active.image %}
                                        <div class="image">
                                            <img src="{{ active.image.url }}"/>
                                        </div>
                                    {% endif %}
                                    <h3 class="line-heading">{{ active.name |upper }}</h3>
                                    <div>
                                        <button type="submit" class="right-link-button white-front bold-font border black-border hand-pointer" style="background-color: {{ journey_module_rel.journey.colour }}">GO</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
            {% if active.percent_correct != 100 or active.completed == False %}
                <div class="line big">
                    <div>
                        <div class="line-data big">
                            <div class="line-numbers">
                                <div>
                                    <span class="large-number" {% if active.colour %}style="color: {{ active.colour }};"{% endif %}>{{ active.percent_correct }}%</span>
                                </div>
                            </div>
                            <div class="line-progress">
                                <div>
                                    <div class="progressbarborder">
                                        <div class="progressbar" style="width:{{ active.progress_percentage }}%;"></div>
                                    </div>
                                    <span>Questions answered correctly.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="solo line module-intro-text">
                    <p>{{ active.text }}</p>
                </div>
        {% endif %}
        </div>
    {% endfor %}


    <div class="dark-grey-front top-border">
        {% for locked in locked_levels %}
            <div class="wide bottom-border black-border">
                <div class="padding-10">
                    <div class="locked-line">
                        <div>
                            <span>{{ locked.name | upper }}</span>
                        </div>
                        <div>
                            <img class="small-image" src='/static/img/lock.png'>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="content" style="background-color: {{ journey_module_rel.journey.colour }}">
        <a class="button white-back black-front bold-font" href="/home">BACK</a>
    </div>

{% endblock %}