{% for module in module_list %}
    <div class="block">
        <a class="line" href="/module_home/{{ module.journey_slug }}/{{ module.module_slug }}">
            <div>
                <div>
                    <div class="image">
                        {% if module.image %}<img src="{{ module.image }}" alt="">{% endif %}
                    </div>
                    <p>
                        <span class="bold-font">{{ module.module_name | upper }}</span><br>
                        <span {% if module.journey_colour %} style="color:{{ module.journey_colour }}"{% endif %}>{{ module.levels_completed }} </span>of {{ module.total_levels }} Levels Completed
                    </p>
                    <span class="right-link arrow">></span>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
