{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <div class="content">
        <a href="/home">< Back</a>
        <h1 class="center-font" >{{ module.name }}</h1>
        <hr>

        {% for level in object_list %}
            <div>
                {% if level.image %}
                    <li class="badge" style="background-image: url('{{ level.image.url }}')"></li>
                {% else %}
                    <li class="badge" style="background-image: url('')"></li>
                {% endif %}
                <div class="text center-font"><a href="level_intro/{{ level.id }}">{{ level.name }}</a></div>
                <div class="text center-font"><p>{{ level.progress }}</p></div>
            </div>
        {% endfor %}
        <a href="/home">< Back</a>
    </div>

{% endblock %}