{% extends "core/main.html" %}

{% block title %}{{ object.name | upper }}{% endblock %}

{% block header %}{{ object.journey.name | upper }}{% endblock %}

{% block content %}

    <div class="black-back content">
        <div class="speech-bubble white-back black-front bold-font">
            <p class="header-font">CONGRATULATIONS!<br>YOU'VE COMPLETED {{ object.module.name | upper }}</p>
        </div>
    </div>

    <div class="bottom-border">
        <div class="content">
            <p class="margin-bot-10">{{ object.module.end_text }}</p>
            <a class="button" href="/journey_home/{{ object.journey.slug }}">DONE</a>
        </div>
    </div>
    <div class="content">
        <p class="margin-bot-10">Not feeling confident you’ve mastered <span style="color: {{ object.journey.colour }}">{{ object.module.name }}</span>? You can redo it anytime. Find it in your completed modules on your <a href="/home">Homepage</a>.</p>
        <a class="button" style="color: {{ object.journey.colour }}; border-color: {{ object.journey.colour }}" href="/home">GO TO HOMEPAGE</a>
    </div>

{% endblock %}