{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}{{ header_message }}{% endblock %}

{% block content %}

    <div class="question-heading wide bottom-border light-grey-back">
        <div>
            {% if object.level.module.image %}
                <img src="{{ object.level.module.image.url }}">
            {% endif %}
            <p class="margin-left inline">{{ object.level.module.name | upper }}</p>
        </div>
        <div class="left-border">
            <p class="margin-right inline">{{ object.level.name | upper }}</p>
        </div>
    </div>
	
	<div class="light-grey-back content">
		<div class="speech-bubble speech-bubble-text yellow-back black-front bold-font">
			{{ message  }}
		</div>
	</div>

    {% if streak_images %}
        <div class="streak-container">
            <span></span>
            <div>
                <div></div>
                {% for x in streak_images %}
                    <img class="" src="x">
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if question.image %}
        <img src="{{ question.image.url }}" />
    {% endif %}

    <div class="light-grey-back content">
		<div class="speech-bubble speech-bubble-text white-back  light-grey-front">
			{{ question.question_content }}
		</div>
	</div>

    <form action="/question/" method="post">
        {% csrf_token %}
        <div class="content">
            <ul class="answers-list">
                {% for opt in question.levelquestionoption_set.all %}
                    <li>
                        <input type="radio" name="answer" id="answer_{{ opt.id }}" value="{{ opt.id }}" style="vertical-align: middle">
                        <label for="answer_{{ opt.id }}">
                        {% if opt.content %}
                            <div class="align-option"> {{ opt.content }}</div> </label>
                        {% else %}
                            {{ opt.name }} </label>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content" style="background-color: #FFC20F">
            <input class="button wide transparent-back"  type="submit" value="Submit Answer"/>
        </div>
    </form>

{% endblock %}