{% extends "core/main.html" %}

{% block title %}QUESTION{% endblock %}

{% block header %}{{ header_message }}{% endblock %}

{% block content %}
    {% load harambee_extras %}

    <div class="question-heading wide bottom-border-2 light-grey-back">
        <div>
            {% if object.level.module.image %}
                <img src="{{ object.level.module.image.url }}">
            {% endif %}
            <p class="margin-left inline bold-font">{{ object.level.module.name | upper }}</p>
        </div>
        <div>
            <p class="margin-right inline bold-font">{{ object.level.name | upper }}</p>
        </div>
    </div>
	
	<div class="light-grey-back content">
		<div class="speech-bubble speech-bubble-text yellow-bubble-border yellow-back black-front bold-font">
			{{ message  | upper }}
		</div>
	</div>

    <div class="streak-container">
        <span></span>
        <div>
{#            <div></div>#}
        {% if streak > 0 %}
            {% for x in  streak|streak:0 %}
                <img class="small-image" src='/static/img/green_smiley_face_small.png'>
            {% endfor %}

            <img class="small-image" src='/static/img/yellow_circle_{{ streak|add:1 }}_small.png'>

            {% if streak < 5 %}
                {% for x in  streak|streak:2 %}
                    <img class="small-image" src='/static/img/black_circle_{{ x }}_small.png'>
                {% endfor %}
            {% endif %}

        {% else %}
            <img class="small-image" src='/static/img/yellow_circle_{{ streak|add:1 }}_small.png'>

            {% for x in "2345" %}
                <img class="small-image" src='/static/img/black_circle_{{ x }}_small.png'>
            {% endfor %}
        {% endif %}
        </div>
    </div>

    {% if question.image %}
        <img src="{{ question.image.url }}" />
    {% endif %}

    <div class="light-grey-back content">
		<div class="speech-bubble speech-bubble-text white-back  light-grey-front">
			{{ question.question_content }}
		</div>
	</div>

    <form action="/question/" method="post">
        {% csrf_token %}
        <div class="content">
            <ul class="answers-list">
                {% for opt in question.levelquestionoption_set.all %}
                    <li>
                        <input type="radio" name="answer" id="answer_{{ opt.id }}" value="{{ opt.id }}">
                        <label for="answer_{{ opt.id }}">
                        {% if opt.content %}
                            <div class="align-option"> {{ opt.content }}</div> </label>
                        {% else %}
                            {{ opt.name }} </label>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content" style="background-color: #FFC20F">
            <input class="button wide transparent-back"  type="submit" value="SUBMIT ANSWER"/>
        </div>
    </form>

{% endblock %}