{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <div class="bottom-border wide">
        <div class="content inline">
            <p class="float-left margin-left inline">{{ object.level.module.name }}</p>
            <p class="float-right margin-right left-border inline">{{ object.level.name }}</p>
        </div>
    </div>

    <br>
    <div class="speech-bubble" style="background-color: #A6CE39; border-color: transparent #A6CE39">
        <p class="center-font">{{ message }}</p>
        <hr>
    </div>
    <br>

    <div class="margin-sides">
        <h1 class="center-font">{{ object.streak }}</h1>
    </div>

    {% if object.image %}
        <img src="{{ object.image.url }}" />
    {% endif %}
    <br>
    <div class="speech-bubble">
        <p class="center-font">{{ question.question_content }}</p>
        <hr>
    </div>
    <br>

    <div class="speech-bubble-border right">
        <h3 class="green-front">Correct!</h3>
        <p>{{ option.content }}</p>
    </div>

    <div class="green-back coloured-back">
        <div class="content">
            <a class="half-button left" href="/module_home/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}">Back</a>
            <a class="half-button right" href="/question/">Next</a>
        </div>
    </div>

{% endblock %}