{% extends "core/main.html" %}

{% block title %}CORRECT{% endblock %}

{% block header %}{{ header_message }}{% endblock %}

{% block content %}
    {% load harambee_extras %}

    {% include 'content/module-level-heading.html' %}

    <div class="light-grey-back content">
        <div class="speech-bubble green-bubble-border green-back black-front bold-font">
            <p>{{ message  | upper }}</p>
        </div>
    </div>

    <div class="streak-container">
        <span></span>
        <div>
        {% if streak > 0 %}
            {% for x in  streak|streak:0 %}
                <img class="small-image" src='/static/img/green_smiley_face_small.png'>
            {% endfor %}

            {% if streak < 5 %}
                {% for x in  streak|streak:1 %}
                    <img class="small-image" src='/static/img/black_circle_{{ x }}_small.png'>
                {% endfor %}
            {% endif %}

        {% else %}
            {% for x in "12345" %}
                <img class="small-image" src='/static/img/black_circle_{{ x }}_small.png'>
            {% endfor %}
        {% endif %}
        </div>
    </div>

    {% if question.image %}
        <img class="question-image" src="{{ question.image.url }}" />
    {% endif %}

    <div class="light-grey-back content">
        <div class="speech-bubble white-back  grey-front">
            <p>{{ question.question_content }}</p>
        </div>
    </div>

    <div class="light-grey-back content">
        <div class="green-border border-2">
            <div class="speech-bubble green-bubble-border light-grey-back black-front">
                <p class="green-front large-font bold-font margin-bot-10">CORRECT!</p>
                <p>The Answer is "{{ option.content }}"</p>
                {% if question.notes %}
                    <p class="orange-front">Tips:</p>
                    <p>{{ question.notes }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="green-back content">
        <div class="two-buttons">
            <div>
                <a class="button" href="/module_home/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}">BACK</a>
            </div>
            <div></div>
            <div>
                <a class="button" href="/question/">NEXT</a>
            </div>
        </div>

    </div>

{% endblock %}
