{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}{{ header_message }}{% endblock %}

{% block content %}

    <div class="question-heading wide bottom-border-2 light-grey-back">
        <div>
            {% if object.level.module.image %}
                <img src="{{ object.level.module.image.url }}">
            {% endif %}
            <p class="margin-left inline bold-font">{{ object.level.module.name | upper }}</p>
        </div>
        <div>
            <p class="margin-right inline bold-font">{{ object.level.name | upper }}</p>
        </div>
    </div>

    <div class="light-grey-back content">
        <div class="speech-bubble speech-bubble-text orange-bubble-border orange-back black-front bold-font">
            {{ message  | upper }}
        </div>
    </div>

    {% if streak_images %}
        <div class="streak-container">
            <span></span>
            <div>
                <div></div>
                {% for x in streak_images %}
                    <img class="small-image" src="x">
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if question.image %}
        <img src="{{ question.image.url }}" />
    {% endif %}

    <div class="light-grey-back content">
        <div class="speech-bubble speech-bubble-text white-back  light-grey-front">
            {{ question.question_content }}
        </div>
    </div>

    <div class="light-grey-back content">
        <div class="orange-border border-2">
            <div class="speech-bubble speech-bubble-text orange-bubble-border light-grey-back black-front">
                <p class="orange-front large-font bold-font margin-bot-10">BETTER LUCK NEXT TIME!</p>
                <p>{{ option.content }}</p>
                {% if question.notes %}
                    <p class="orange-front">Tips:</p>
                    <p>{{ question.notes }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="orange-back content">
        <div class="two-buttons">
            <div>
                <a class="button" href="/module_home/{{ object.harambee_journey_module_rel.journey_module_rel.journey.slug }}/{{ object.harambee_journey_module_rel.journey_module_rel.module.slug }}">BACK</a>
            </div>
            <div></div>
            <div>
                <a class="button" href="/question/">NEXT</a>
            </div>
        </div>

    </div>

{% endblock %}