{% extends "core/main.html" %}

{% block title %}HELP{% endblock %}

{% block header %}{% endblock %}

{% block header_colour %}green-back{% endblock %}

{% block content %}

    <div class="green-back content">
        <div class="speech-bubble header-font bold-font white-back black-front">
            HELP PAGES
        </div>
    </div>

    <div class="content">
        <hr>
        {% for help_page in object_list %}
            <a href="/help/{{ help_page.slug }}">
                <div class="help-page">
                    <span>{{ help_page.heading }}</span>
                    <span class="float-right">></span>
                </div>
                <br><br>
            </a>
        {% endfor %}
        <hr>
        <a class="button" href="/home">BACK</a>
    </div>

{% endblock %}