{% extends "core/main_search.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <div class="black-back">
        <br>
        <div class="speech-bubble">
            <p class="center-font">{{ page.content }}</p>
            <hr>
        </div>
        <br>
    </div>

    {% for journey in object_list %}
        <div class="wide bottom-border">
            <span class="journey-margin">
                {{ journey.name }}
            </span>
            {% if journey.image %}
                <img class="left-border" src="/static/{{ journey.image.url }}" align="middle"/>
            {% else %}
                <img class="left-border" src="/static/img/home.png"  align="middle"/>
            {% endif %}
        </div>
        <div class="bottom-border wide">
            <div class="content">
                <p> {{ journey.intro_text }} </p>
                <a href="/journey_home/{{ journey.slug }}" class="button">Get Started</a>
            </div>
            <br>
        </div>
    {% endfor %}

{% endblock %}