{% extends "core/main.html" %}

{% block title %}INTRO{% endblock %}

{% block header %}{{ header_message | upper}}{% endblock %}

{% block content %}

    {% if page.content %}
        <div class="black-back content">
            <div class="speech-bubble white-back black-front">
                <p>{{ page.content  }}</p>
            </div>
        </div>
    {% endif %}

    {% for journey in object_list %}
        <div class="journey-block">
            <div class="module-heading bottom-border light-grey-border">
                <div class="wide">
                    <div>
                        <h1 class="line-heading">LEARN<br>{{ journey.name | upper}}</h1>
                    </div>
                     {% if journey.image %}
                        <div class="image left-border light-grey-border">
                            <img align="center" src="{{ journey.image.url }}" alt=""/>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="intro">
                <p class="margin-bot-10">
                    {{ journey.intro_text }}
                </p>
                <a class="button wide" href="/journey_home/{{ journey.slug }}">SELECT</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block search %}
    {% include "core/main_search.html" %}
{% endblock %}