{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header_colour %} green-back {% endblock %}

{% block content %}
    <div class="green-back content">
        <div class="speech-bubble header-font bold-font white-back black-front">
            {{ object.heading  | upper }}
        </div>
    </div>

    {% if object.content %}
        <div class="content">
            <p class="center-font">{{ object.content }}</p>
        </div>
    {% endif %}

    <div class="black-back content bottom-border white-border">
        <a class="button border white-border black-back white-front" href="/home">BACK</a>
    </div>

{% endblock %}