{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block header_colour %} green-back {% endblock %}

{% block content %}
    <div class="green-back content">
        <div class="speech-bubble header-font bold-font white-back black-front">
            {{ page.heading  |upper }}
        </div>
    </div>

    <div class="content">
        <p class="center-font">{{ object.content }}</p>
    </div>

    <div class="black-back coloured-back">
        <div class="content">
            <a class="black-button white-front" href="/home">< BACK</a>
        </div>
    </div>

{% endblock %}