{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <div class="green-back content">
        <div class="speech-bubble speech-bubble-header white-back black-front">
           {{ object.heading }}
        </div>
    </div>

    <div class="content">
        <p class="center-font">{{ object.content }}</p>
    </div>

    <div class="black-back coloured-back">
        <div class="content">
            <a class="black-button white-front" href="/home">< BACK</a>
        </div>
    </div>

{% endblock %}