<!DOCTYPE html>
<html>
    <head>
        <title>HARAMBEE MOBILE | {% block title %}{{ page.title | upper }}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/static/css/harambee.css" %}">
        <link rel="shortcut icon" href="{{ STATIC_URL }}/static/img/favicon.ico" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    </head>
    <body>
        <div class="content welcome-back">
            <div>
                <div class="speech-bubble speech-bubble-text white-back black-front">
                    <img class="welcome-logo" src="/static/img/icn_logo_green_large.png">
                    <div class="header-font bold-font content-top content-bot">
                        {{ page.heading | upper}}
                    </div>
                    <div>
                        {{ page.content }}
                    </div>
                </div>
            </div>

            <div class="content-top">
                <a class="center-font button grey-back" href="/join/">JOIN</a>
            </div>
        </div>

        <div class="white-back content">
            <div class="large-font bold-font margin-bot-10">ALREADY HAVE A HARAMBEE MOBILE ACCOUNT?</div>
            <a class="button" href="/login">LOG IN</a>
        </div>

        <div id="footer" class="footer">
            <div>Brought to you by Harambee Youth Employment Accelerator</div>
            <div>
                <a href="/terms">Terms</a> |
                <a href="/about">About</a> |
                <a href="/contact">Contact</a> |
                <a href="http://mobi.harambee.mobi">Website</a>
            </div>
        </div>
    </body>
</html>