{% extends "core/main.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

     <div class="green-back">
         <br>
         <div class="speech-bubble">
            <h1 class="center-font" >{{ object.heading }}</h1>
            <hr>
        </div>
         <br>
     </div>

    <div class="content">
        <p class="center-font">{{ object.content }}</p>
    </div>

    <div class="black-back coloured-back">
        <div class="content">
            <br>
            <a class="black-button white-front" href="/join">< BACK</a>
            <br>
        </div>
    </div>

{% endblock %}