<!DOCTYPE html>
<html>
    <head>
        <title>HARAMBEE MOBILE | {% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/static/css/harambee.css" %}">
        <link rel="shortcut icon" href="{{ STATIC_URL }}/static/img/favicon.ico" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    </head>
    <body>
        {%  if header_color %}
            <div class="header" style="background-color: {{ header_color }}">
        {% else %}
            <div class="header">
        {% endif %}

            <a href="/home" class="logo left">
                <img src="/static/img/home.png" alt="HOME"/>
            </a>

            {% if user.id %}
                <a href="/menu" class="menu-icon right">MENU</a>
            {% else %}
                <a href="/login" class="menu-icon right">LOG IN</a>
            {% endif %}

            {% if header_message %}
                <p class="white-front bottom-border no-margin">{{ header_message }}</p>
            {% endif %}
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <div class="center-font">Brought to you by Harambee Youth Employment Accelerator</div>
            <div class="center-font">
                <a href="/terms">Terms</a> |
                <a href="/about">About</a> |
                <a href="/contact">Contact</a> |
                <a href="http://mobi.harambee.co.za">Website</a>
            </div>
        </div>
    </body>
</html>