<!DOCTYPE html>
<html>
    <head>
        <title>HARAMBEE MOBILE | {% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/static/css/harambee.css" %}">
        <link rel="shortcut icon" href="{{ STATIC_URL }}/static/img/favicon.ico?v=2" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery.js"></script>
        <script type="text/javascript" src="{% static "/static/js/header.js" %}"></script>
    </head>
    <body>
        {% load google_analytics_tags %}
        <div style="display:none">
            <img src="{% google_analytics request %}" width="0" height="0" />
        </div>

        <div class="header {% if header_colour %}{{ header_colour }}{% else %}green-back{% endif %}" id="header">
            <div class="header-container" id="header-container">
                <div class="icon-container" id="icon-container">
                    <div class="icons" id="icons">
                        <a class="menu-icon" href="{% if user.id %}/home{% else %}/{% endif %}"><img src="/static/img/icn_logo_white_small.png"></a>
                        <a class="menu-link" id="menu-link" {% if user.id %}href="/menu">MENU{% else %}href="/login">LOG IN{% endif %}</a>
                    </div>
                </div>
                {% if hide == False %}
                    <div class="title-container" id="title-container">
                        <div class="title-text">
                            <p class="large-font white-front {% if header_colour %}{{ header_colour }}{% else %}black-back{% endif %}">
                                {% block header %}{% endblock %}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        {% block search%}
        {% endblock %}

        {% block menu %}
        {% endblock %}

        <div id="footer" class="footer">
            <p>Brought to you by Harambee Youth</p>
            <p class="margin-bot-10">Employment Accelerator.</p>
            <div>
                <a href="/terms">Terms</a> |
                <a href="/about">About</a> |
                <a href="/contact">Contact</a> |
                <a href="http://harambee.mobi">Website</a>
            </div>
        </div>

        {% if request.session.user.id %}
            {% block menu_feature %}
                {% include "core/menu.html" %}
            {% endblock %}
        {% endif %}
    </body>
</html>