/*RESET*/
table, html, body, div, span, p { margin:0; padding:0; border:0; outline:none; }
hr { display: none;}
ul { list-style: none; padding:0; margin: 0}
a { text-decoration: none; }
a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

body {
    font-family: "Arial", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	background-color: #f4f4f4;
	color: #000000;
    margin:0;
    width: 100%;
}

/**COLOURS**/
.black-front { color: #000000 !important; }
.dark-grey-front { color: #9b9b9b !important; }
.green-front { color: #a6ce39 !important; }
.grey-front { color: #676767 !important; }
.light-grey-front { color: #A2A2A2 !important; }
.orange-front {color: #f68620 !important; }
.white-front { color: #ffffff !important; }

.black-back { background-color: #000000 !important; }
.green-back { background-color: #a6ce39 !important; }
.grey-back { background-color: #f4f4f4 !important; }
.light-grey-back {background-color: #F4F4F4 !important; }
.transparent-back  { background-color: transparent !important; }
.orange-back { background-color: #f68620 !important; }
.yellow-back { background-color: #FFC20F !important; }
.white-back { background-color: #ffffff !important; }
.dark-grey-back { background-color: #1E1E1E !important; }

.black-border { border-color: #000000 !important; }
.green-border { border-color: #a6ce39 !important; }
.light-grey-border { border-color: #cccccc !important; }
.white-border { border-color: #FFFFFF !important; }
.orange-border { border-color: #f68620 !important; }

.orange-bubble-border { border-color: transparent #f68620 !important; }
.green-bubble-border { border-color: transparent #a6ce39 !important; }
.yellow-bubble-border { border-color: transparent #FFC20F !important; }

/*****FONT*****/
.header-font {
    font-size: 24px;
}

.large-font {
    font-size: 14px;
}

.x-large-font {
    font-size: 18px;
}

.bold-font {
    font-weight: bold;
}

.no-weight {
    font-weight: normal;
}

.center-font {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

/*****BORDERS*****/
.border {
    border: 1px solid;
}

.border-2 {
    border: 2px solid;
}

.no-border {
    border: none;
}

.top-border {
    border-top: 1px solid;
}

.bottom-border {
    border-bottom: 1px solid;
}

.bottom-border-2 {
    border-bottom: 2px solid;
}

.left-border {
    border-left: 1px solid;
}

/**HEADER**/
.header {
    padding: 0 10px;
}

.header-container {
    width: 100%
}

.icon-container {
    height: 50px;
}

.icons {
    height: 50px;
    display: table;
}

.menu-icon {
    display: table-cell;
    vertical-align: middle;
}

.menu-icon > img{
    height: 32px;
    width: 32px;
}

.menu-link {
    position: absolute;
    right: 10px;
    top: 18px;
    font-weight: bold;
    color: #FFFFFF !important;
}

.menu-link-span {
    position: absolute;
    right: 10px;
    top: 8px;
    font-weight: bold;
    color: #FFFFFF !important;
}

.menu-link-image {
    vertical-align: middle;
}

.title-container {
    height: 50px;
    line-height: normal;
    font-weight: bold;
    display: block;
    color: #ffffff;
    width: 100%;
}

.title-text {
    display: table;
    min-height: 50px;
}

.title-text > p {
    color: #ffffff;
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
    height: 50px;
}

@media (min-width: 20em) {
    .header {
        height: 50px;
    }
    
    .header-container {
        display: table;
    }

    .icon-container {
        display: table-cell;
    }

    .icons {
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .title-container {
        display: table-cell;
        float: none;
    }

    .menu-link {
        position: static;
        display: table-cell;
        font-weight: bold;
        padding-left: 30px;
        vertical-align: middle;
    }

    .menu-link-span {
        position: static;
        display: table-cell;
        font-weight: bold;
        padding-left: 20px;
        vertical-align: middle;
    }
}
/***/

.icon-logo {
    margin-right: 10px;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 10px;
}

.footer > div:first-child {
    margin-bottom: 10px;
}

.footer a {
    color: #ffffff;
    font-weight: bold;
    display: inline;
}

/*****PAGE PADDING*****/
.content {
    padding: 15px;
}

.content-width {
    padding: 0 15px;
}

.content-top {
    padding-top: 15px;
}

.content-bot {
    padding-bottom: 15px;
}

/*****BUTTON*****/
.button {
    display: block;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;
    font-size: 14px;
    border-radius:0 !important;
}

input[type="submit"] {
     border-radius: 0 !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input.button {
    height: 36px;
    line-height: 32px;
}

a.button {
    height: 34px;
    line-height: 35px;
}

/**MENU**/
.menu {
    background-color: #f4f4f4;
    width: 100%;
}

.menu .item {
    line-height: 40px;
    width: 100%;
    border-bottom: solid 1px #000000;
    color: #000000;
    font-weight: bold;
}

.menu .item p {
    display: inline;
    padding-left: 10px;
}

li.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 10px;
}

li.logout {
    background-image: url("../img/icn_logout_black_small.png");
}

li.profile {
    background-image: url("../img/icn_profile_green_small.png");
}

li.home {
    background-image: url("../img/icn_home_green_small.png");
}

li.search {
    background-image: url("../img/icn_search_green_small.png");
}

li.help {
    background-image: url("../img/icn_help_green_small.png");
}

li.about {
    background-image: url("../img/icn_about_green_small.png");
}

/*****SPEECH BUBBLE*****/
.speech-bubble {
    position: relative;
    border-color: transparent #ffffff;
    padding: 10px;
}

.speech-bubble > p {
    overflow: hidden;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    top: 10px;
    left: -7px;
    bottom: auto;
    border-width: 10px 7px 10px 0;
    border-color: inherit;
}

/*****SEARCH BOX*****/
.search-container {
    border-bottom: 1px solid #FFFFFF;
    padding: 10px;
}

.box-border {
    border: 2px solid #ffffff;
    padding: 2px 2px 2px 10px;
}

.search-box {
    height: 30px;
    display: table;
    height: 30px;
    width: 100%;
}

.search-text:focus, .search-go:focus {
    outline: none;
}

.search-text {
    display: table-cell;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 100%;
}

.search-go {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.search-go > input {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

/*****JOURNEY BLOCK*****/
.journey-block > div > img {
    height: 50px;
    width: 50px;
}

.journey-block:not(:last-child) {
    border-bottom: 1px solid #000000;
}

.journey-block .intro {
    padding: 10px;
}

.block:not(:last-child) {
	border-bottom: 1px solid #cccccc;
}

.block:last-child {
    border-bottom: 1px solid #000000;
}

.block-data {
    height:131px;
}

.line.big {
    height: 80px;
    line-height: 50px;
	width: 100%;
}

.big {
    height: 80px !important;
}

.solo.line {
	border-bottom: 1px solid #000000;
}

.line .small{
	height: 50px;
	line-height: 50px;
	width: 100%;
}

.line > div {
	width: 100%;
}

.line > div > div {
    display: table;
    height: 50px;
    padding: 0 10px;
}

.line > div > div > * {
	display: table-cell;
    line-height: normal;
	vertical-align: middle;
    width: 100%;
}

.line .image {
    padding: 5px 5px 5px 0;
	width: 50px;
    height: 40px;
    text-align: center;
}

.line .image > img {
	width: 32px;
    height: 32px;
    vertical-align: middle;
}

h1.line-heading {
	display: table-cell;
    height: 50px;
	font-weight: bold;
    font-size: 20px;
	vertical-align: middle;
    line-height: normal;
}

.module-intro-text {
    padding: 10px;
}

.module-heading {
    padding: 0 10px;
}

.module-heading > div {
    display: table;
    height: 60px;
}

.module-heading > div > div {
    display: table-cell;
    vertical-align: middle;
}

.module-heading .image {
    height: 50px;
    padding-left: 10px;
    width: 32px;
}

.module-heading .image img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

h2.line-heading {
	display: table-cell;
    height: 50px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
    line-height: normal;
}

h3.line-heading {
    display: table-cell;
    height: 50px;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
    line-height: normal;
}

.line .right-link {
    width: 10px;
}

.right-link-button {
    display: block;
    line-height: 34px;
    width: 55px;
    text-align: center;
}

.line-data .line-numbers {
    width: inherit;
    padding-right: 10px;
    border-right: 1px solid #cccccc;
}

.line-progress {
    width: 100%;
    padding-left: 10px;
}

.large-number {
	font-size: 22px;
	font-weight: bold;
}

/*****QUESTION HEADING*****/
.question-heading {
    min-height: 50px;
}

.question-heading > div {
    width: 100%;
}

.question-heading .module,
.question-heading .level {
    min-height: 50px;
    width: 100%;
}

.question-heading .module {
    border-bottom: 2px solid #000000;
}

.question-heading .level {
    display: table;
}

.question-heading .level > p {
    display: table-cell;
    vertical-align: middle;
}

.question-heading .module > div {
    display: table;
}

.question-heading .module > div > * {
    display: table-cell;
    vertical-align: middle;
}

.question-heading .module > div > img {
    height: 32px;
    width: 32px;
    padding: 9px 5px;
}

.question-heading p {
    padding:  0 2px;
    height: 50px;
}

.question-heading .level > p {
    padding: 0 10px;
}

@media(min-width: 18em) {
    .question-heading > div {
        display: table;
        width: 100%;
    }

    .question-heading .module,
    .question-heading .level {
        display: table-cell;
        vertical-align: middle;
        width: auto;
    }

    .question-heading .module {
        border-bottom: none;
    }

    .question-heading > div > div:last-child {
        border-left: 2px solid #000000;
}
}

/*****STREAK******/
.streak-feature {
    padding: 0 15px;
}

.streak-feature > img {
    margin-bottom: 5px;
}

.streak-container {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

@media (min-width: 200px) {
    .streak-container {
        display: inline-flex;
    }

    .streak-feature {
        display: none;
    }

}

@media (max-width: 200px) {
    .streak-container {
        display: none;
    }
}

.streak-container > div {
    margin: 0 auto;
    position: relative;
}

.streak-container span {
    height: 100%;
    display: inline-block;
}

.streak-container > div > img {
    vertical-align: middle;
    display: inline-block;
}

.small-image {
    width: 32px;
    height: 32px;
}

.question-image {
    margin-top: 10px;
    width: 150px;
}

.percent-line {
    display: table;
}

.percent-line > img {
    display: table-cell;
    height: 32px;
    width: 32px;
}

.percent-line > p {
    display: table-cell;
    padding-left: 5px;
    vertical-align: middle;
}

.streak-container img:not(:last-child) {
    margin-right: 0;
}

@media(min-width: 20em) {
    .streak-container img:not(:last-child) {
        margin-right: 5px;
    }
}
/***********/

.padding-10 {
    padding: 0 10px;
}

.locked-line {
    display: table;
    height: 50px;
    width: 100%; 
}

.locked-line > div {
    display: table-cell;
    vertical-align: middle;
}

.locked-line > div:first-child {
    width: 100%;
}

.locked-line

.hand-pointer {
    cursor: pointer;
    cursor: hand;
}

.answers-list > li:not(:first-child){
    margin-top: 10px;
}

.answer-option {
    display: table;
}

.answer-option > div {
    display: table-cell;
    vertical-align: middle;
}

.answer-option > div:first-child {
    padding: 2px 5px 0 0;
}

.answer-option input[type="radio"] {
    margin: 0;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.two-buttons {
    width: 100%;
    display: inline-flex;
}

.two-buttons > div:first-child,
.two-buttons > div:last-child {
    width: 45%;
}

.two-buttons > div:nth-child(2) {
    width: 10%;
}

.float-right {
    float: right;
}

.welcome-back {
    background-image: url('../img/front_page_small.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 250px;
    background-color: #1E1E1E;
}

@media (min-width: 500px) {
    .welcome-back {
        background-image: url('../img/front_page_normal.jpg');
    }
}


@media (min-width: 1000px) {
    .welcome-back {
        background-image: url('../img/front_page_large.jpg');
    }
}

.welcome-logo {
    height: 45px;
    width: 45px;
}

.wide-input > input {
    width: 100%;
    background-color: #f4f4f4;
    border: none;
    color: #9b9b9b;
    border-bottom: 1px solid rgb(0,0,0);
    border-radius:0;
}

.wide-input > input:focus,
.wide-input > textarea:focus {
    outline: none;
}

.wide-input-white > input {
    width: 100%;
    background-color: #000000;
    border: none;
    color: #ffffff;
    border: 1px solid rgb(255,255,255);
}

.wide-input > textarea {
    resize: none;
    width: 100%;
    background-color: #f4f4f4;
    color: #9b9b9b;
    height: 60px;
    border: none;
    border: 1px solid rgb(0,0,0);
    border-radius:0;
}

.wide {
    width: 100%;
}

.text {
    display: table;
    padding:0;
}

.text > * {
    display: table-cell;
    vertical-align: middle;
}

.progressbarborder {
    border: 1px solid #000000;
    background-color: #D9D9D9;
}

.progressbar{
    visibility: visible;
    height: 20px;
    background-color: #A6CE39;
}


.large-module-block {
    width: 100%;
    height: 60px;
    display: table;
}

.large-module-block > span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.large-module-block > div {
    border-left: 1px solid #cccccc;
    display: table-cell;
    padding: 0 20px;
    vertical-align: middle;
    width: 50px;
}

.large-module-block > div > img {
    width: 32px;
    height: 32px;
    display: table-cell;
}

.item:not(:last-child) {
    border-bottom: 1px solid #000000;
}

.fieldWrapper {
    padding: 10px 0;
}

.fieldWrapper p {
    line-height: 25px;
}

ul.errorlist {
    margin:0;
    color: #ff0000;
}

.margin-top-15 {
    margin-top: 15px;
}

.help-page {
    display: inline-block;
    width: 100%;
}

.arrow {
    font-size: 26px;
}
