/*RESET*/
table, html, body, div, span, p { margin:0; padding:0; border:0; outline:0; font-size:12px; }
hr { display: none;}
ul { list-style: none; padding: 0px; margin: 0px}
a { text-decoration: none; }

body {
    font-family: "Arial", CenturyGothic, AppleGothic, sans-serif;
	font-size: 12px;
	background-color: #f4f4f4;
	color: #000000;
    box-sizing: border-box;
    margin: 0px;
}

/**COLOURS**/
.black-front { color: #000000 !important; }
.dark-grey-front { color: #9b9b9b !important; }
.green-front { color: #a6ce39 !important; }
.light-grey-front { color: #A2A2A2 !important; }
.orange-front {color: #f68620 !important; }
.white-front { color: #ffffff !important; }

.black-back { background-color: #000000 !important; }
.green-back { background-color: #a6ce39 !important; }
.grey-back { background-color: #f4f4f4 !important; }
.light-grey-back {background-color: #F4F4F4 !important; }
.transparent-back  { background-color: transparent !important; }
.orange-back { background-color: #f68620 !important; }
.yellow-back { background-color: #FFC20F !important; }
.white-back { background-color: #ffffff !important; }

.black-border { border-color: #000000 !important; }
.green-border { border-color: #a6ce39 !important; }
.light-grey-border { border-color: #cccccc !important; }
.white-border { border-color: #FFFFFF !important; }
.orange-border { border-color: #f68620 !important; }

.orange-bubble-border { border-color: transparent #f68620 !important; }
.green-bubble-border { border-color: transparent #a6ce39 !important; }
.yellow-bubble-border { border-color: transparent #FFC20F !important; }

/*****FONT*****/
.header-font {
    font-size: 24px;
}

.normal-font {
    font-size: 12px;
}

.large-font {
    font-size: 14px;
}

.bold-font {
    font-weight: bold;
}

.no-weight {
    font-weight: normal;
}

.center-font {
    text-align: center !important;
}

/*****BORDERS*****/
.border {
    border: 1px solid;
}

.border-2 {
    border: 2px solid;
}

.no-border {
    border: none;
}

.top-border {
    border-top: 1px solid;
}

.bottom-border {
    border-bottom: 1px solid;
}

.bottom-border-2 {
    border-bottom: 2px solid;
}

.left-border-2 {
    border-left: 2px solid;

}

/**PAGE LAYOUT**/
.header {
    width: 100%;
    height:50px;
}

.header-smart {
    display: flex;
}

.header-icon-container {
    height: 50px;
    padding: 0px 10px;
}

.header-icon-container-smart {
    position: absolute;
    right: 0px;
}

span.menu-icon-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img.menu-icon {
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

span.menu-link-helper {
    line-height: 50px;
    vertical-align: middle;
    float: right;
}

.icon-logo {
    margin-right: 10px;
}

.icon-menu {
    margin-left: 10px;
}


a.menu-link {
    font-weight: bold;
    color: #ffffff;
}

.header-title {
    color: #ffffff;
    line-height: 40px;
    vertical-align: middle;
    padding: 0px 10px;
    font-weight: bold;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 10px;
}

.footer > div:first-child {
    margin-bottom: 10px;
}

.footer a {
    color: #ffffff;
    font-weight: bold;
    display: inline;
}

/*****PAGE PADDING*****/
.content {
    padding: 15px;
}

.content-width {
    padding: 0 15px;
}

.content-top {
    padding-top: 15px;
}

.content-bot {
    padding-bottom: 15px;
}

/*****BUTTON*****/
.button {
    display: block;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;
    font-size: 14px;
}

input.button {
    height: 36px;
    line-height: 32px;
}

a.button {
    height: 34px;
    line-height: 35px;
}

/**MENU**/
.menu {
    background-color: #f4f4f4;
    width: 100%;
}

.menu .item {
    line-height: 40px;
    width: 100%;
    border-bottom: solid 1px #000000;
    color: #000000;
    font-weight: bold;
}

.menu .item p {
    display: inline;
    padding-left: 10px;
}

li.icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 10px;
}

li.logout {
    background-image: url("../img/icn_logout.png");
}

li.profile {
    background-image: url("../img/icn_profile_green_small.png");
}

li.home {
    background-image: url("../img/icn_home_green_small.png");
}

li.search {
    background-image: url("../img/icn_search_green_small.png");
}

li.help {
    background-image: url("../img/icn_help_green_small.png");
}

li.about {
    background-image: url("../img/icn_about_green_small.png");
}

/*****SPEECH BUBBLE*****/
.speech-bubble {
    position: relative;
    border-color: transparent #ffffff;
    padding: 20px;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    top: 10px;
    left: -7px;
    bottom: auto;
    border-width: 10px 7px 10px 0px;
    border-color: inherit;
}

/*****SEARCH BOX*****/
.search-container {
    padding: 20px 10px 10px;
}

.search-box {
    line-height: 32px;
    padding: 1px 39px 0px 10px;
}

.search-box-border {
    border: 2px solid #ffffff;
}

.search-text:focus, .search-go:focus {
    outline: none;
}

.search-text {
    line-height: 30px;
    width: 100%;
}

.search-go {
    position: relative;
    float: right;
    padding: 0px;
    line-height: 32px;
    width: 30px;
    text-align: center;
    margin-right: -38px;
    top: -32px;
}

/*****JOURNEY BLOCK*****/
.journey-block > div {
    padding: 10px;
}

.journey-block > div:first-child {
    border-bottom: 1px solid #cccccc;
}

.journey-block > div:first-child > p {
    font-weight: bold;
}

.journey-block > div > img {
    height: 50px;
    width: 50px;
}

.journey-block > div > *:first-child {
    margin-bottom: 5px;
}

.survey-select-button {
    width: 70px;
}

.journey-block:not(:last-child) {
    border-bottom: 1px solid #000000;
}

/*****LINE*****/
.item-line-link {
    display: block;
    height: 50px;
}

.item-line {
    width: 100%;
    line-height: 50px;
    display: inline-flex;
    padding-left: 10px;
}

.item-line-container > .item-line-link:not(:last-child) {
    border-bottom: 1px solid;
}

.item-line > img {
    height: 50px;
    margin-right: 10px;
}

.single-line {
    line-height: 50px;
}

.double-line {
    line-height: normal;
    height: 40px;
    padding-top: 10px;
}

.item-line > div p {
    line-height: 15px;
}

/*********MODULE LINE*********/
.module-line{
    height: 50px;
    width: 100%;
    display: inline-flex;
    line-height: 50px;
}

.module-line:last-child {
    border-bottom: 1px solid #000000;
}

.module-line-image {
    width: 50px;
}

.module-line-image > img{
    height: 42px;
    width: 42px;
    padding: 4px;
}

.module-line-data {
    position: absolute;
    left: 50px;
    right:30px;
    line-height: 50px;
}

.module-line-data-name {
    padding-top: 10px;
    margin: 0px;
    line-height: 15px;
    font-weight: bold;
}

.module-line-data-levels {
    margin: 0px;
    line-height: 15px;
}

.module-line-arrow {
    position: absolute;
    right: 0px;
    width: 30px;
    text-align: center;
}

/********LEVEL LINE**********/
.active-level-block-head {
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
}

.active-level-block-content {
    display: flex;
}

.active-level-block-content > div {
    width: 33%;
    height: 60px;
}

.double-active-level-block-content {
    width: 67% !important;
    height: 60px;
}

.active-level-block-content > div:nth-child(2) {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}


.active-level-block-content > div > div{
    padding-left: 5px;
}

/*****QUESTION HEADING*****/
.question-heading {
    height: 50px;
    display: inline-flex;
}

.question-heading > div > img {
    height: 42px;
    width: 42px;
    padding: 4px;
}

.question-heading > div:first-child {
    width: 59%;
}

.question-heading > div:last-child {
    width: 40%;
}

.question-heading > div {
    height: 50px;
    display: table;
}

.question-heading > div > p {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}

.question-heading > div:last-child {
    border-left: 2px solid #000000;
}

/*****STREAK******/
.streak-container {
    width: 100%;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
}

.streak-container > div {
    margin: 0 auto;
    position: relative;
}

.streak-container > div > div {
    position: relative;
    border-top: 2px solid #000000;
    width: 100%;
    height: 0px;
    top: 25px;
    z-index: -1;
}

.streak-container span {
    height: 100%;
    display: inline-block;
}

.streak-container img {
    vertical-align: middle;
    display: inline-block;
}

img.small-image {
    height: 32px;
    width: 32px;
}

.streak-container img:not(:last-child) {
    margin-right: 5px;
}
/***********/

.answers-list > li:not(:first-child){
    margin-top: 10px;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.two-buttons {
    width: 100%;
    display: inline-flex;
}

.two-buttons > div:first-child {
    width: 49%;
}

.two-buttons > div:nth-child(2) {
    width: 2%;
}

.two-buttons > div:last-child {
    width: 49%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.welcome-back {
    background-image: url("");
    background-repeat: no-repeat;
    padding-top: 200px !important;
}

.wide-input > input {
    width: 100%;
    background-color: #f4f4f4;
    border: none;
    color: #9b9b9b;
    border-bottom: 1px solid rgb(0,0,0);
}

.wide-input > input:focus {
    outline: none;
}

.wide-input-white > input {
    width: 100%;
    background-color: #000000;
    border: none;
    color: #ffffff;
    border: 1px solid rgb(255,255,255);
}

.wide-input > input:focus {
    outline: none;
}

.wide {
    width: 100%;
}

.module-display {
    display: inline-flex;
    width: 100%;
}

.align-option{
    vertical-align: middle;
    display: inline-block;
}

.list-heading {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    padding-left: 10px;
}

.text {
    display: table;
    padding: 0px;
}

.text > * {
    display: table-cell;
    vertical-align: middle;
}

.progressbarborder {
    border: 1px solid #000000;
    padding: 3px;
    margin-right: 1%;
}

.progressbar{
    visibility: visible;
    height: 10px;
}

.s-header {
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid #cccccc;
    display: flex;
}

.s-header > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 10px 5px;
}

.blah {
    border-left: 1px solid #cccccc;
    float: right;
    height: 60px;
    width: 60px;
}

.blah > img{
    margin: 10px 5px;
}

.fieldWrapper {
    padding: 10px 0px;
}

.fieldWrapper p {
    line-height: 25px;
}

ul.errorlist {
    margin: 0px;
    color: #ff0000;
}

.margin-top-15 {
    margin-top: 15px;
}

.help-page {
    display: inline-block;
    width: 100%;
}